#loginModal {
    #loginModalLabel {
        font-size: 2rem;
        font-weight: 800;

        span {
            font-size: 1rem;
            font-weight: 400;
        }
    }

    form {
        label {
            text-transform: uppercase;
            font-size: 13px;
        }
    }

    .modal-footer {
        background-color: #e7ecff;
        border: none;
    }
}
