.authentication {

    background-color: #141825;

    &:after {
        content: "";
        background-image: url("https://gorunners.com/common/controls/image_handler.aspx?thumb_id=0&image_path=/images/2018/10/28/Promotions.jpg");
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        opacity: 0.1;
        z-index: -1;
    }

    .navbar {
        position: relative;

        .navbar-brand {
            position: absolute;
            left: 50%;
            margin-left: -50px !important; /* 50% of your logo width */
            display: block;
        }

        .nav-item {
            .btn {
                padding: 5px 50px;
                font-size: 0.9rem;
                font-weight: 400;
            }

            &.active {
                .nav-link {
                    color: $primary_color !important;
                }
            }

            .nav-link {
                color: $secondary_color;

                @include media-breakpoint-up(md) {
                    font-size: 1.1rem;
                    padding-left: 2rem !important;
                    padding-right: 2rem !important;
                    font-weight: 900;
                }

            }
        }


    }
}
