<template>
    <form @submit.prevent="login">
        <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" v-model="credentials.email" class="form-control" required id="exampleInputEmail1"
                   aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" v-model="credentials.password" required class="form-control"
                   id="exampleInputPassword1">
        </div>
        <a href="#">Forget password ?</a>
        <button type="submit" class="btn btn-primary float-right pl-5 pr-5">SIGN IN</button>
    </form>
</template>

<script>
export default {
    data() {
        return {
            credentials: {
                email: '',
                password: ''
            }
        }
    },
    methods: {
        login() {
            // axios post will apply here
            axios.post('/login', this.credentials).then((res) => {
                console.log(res.data)
            })
        }
    }
}
</script>
